<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:orchestra="http://myfaces.apache.org/orchestra"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
          http://myfaces.apache.org/orchestra
          http://myfaces.apache.org/orchestra/orchestra.xsd">


  <bean name="testView" class="org.glvnsjc.webapp.TestView" scope="session" autowire="byName"></bean>

    <!-- =================================================================== -->
    <!-- Security class from Spring Security - used to configure Password    -->
    <!-- Encryption in UserManagerImpl. Can override in security.xml.        -->
    <!-- =================================================================== -->
    <bean id="passwordEncoder" class="org.springframework.security.providers.encoding.ShaPasswordEncoder"/>


    <bean id="lookupManager" class="org.glvnsjc.service.generic.LookupManagerImpl">
        <property name="lookupDao" ref="lookupDao"/>
    </bean>

</beans>